
        body {
            margin: 0;
        }

        .header {
            text-align: center;
        }

        .before {
            text-align: right;
            margin-left: 162px;
            margin-right: 162px;
            padding-top: 10px;
        }

        .before>a {
            font-size: 0.9rem;
            color: black;
            padding: 10px;
            text-decoration: none;

        }

        .name>.h1 {
            color: black;
            text-decoration: none;
            font-size: 50px;
            display: inline-block;
            width: 500px;
            font-weight: bold;
        }


        .navbar {
            display: inline-block;
            width: 500px;
        }

        .navbar li {
            width: 100px;

        }

        .navbar>ul {
            list-style: none;
            display: flex;
        }

        .navbar a {
            color: black;
            text-decoration: none;
            font-size: 25px;
        }


        .footer_wrap {
            border-top: 1px solid black;
            margin-top: -100px;
            padding: 50px;

        }

        footer {
            height: 80px;
            position: relative;
            transform: translateY(-100%);
            width: 100%;
            margin-top: 300px;
        }


        .home_icon {
            margin-left: 12px;
            width: 13px;
            height: 100%;
            color: #AAAAAA;
        }

        .location {
            display: inline-block;
            width: 1145px;
            text-align: left;
            padding: 10px;
        }

        .page_util {
            border-top: 1px solid black;
            background-color: #F8F8FA;
            height: 42px;
        }

        .util_arrows {
            display: inline-block;
            width: 12px;
            height: 12px;
            background: url('/image/arrows_right.png') no-repeat;
            color: black;
            margin-left: 10px;
            color: #AAAAAA;
        }

        .pull_page {
            text-decoration: none;
            color: black;
        }

        .inner_wrap {
            position: relative;
            display: inline-block;
            width: 1100px;
        }

        .book_wrap {
            position: relative;
            display: inline-block;
            width: 1100px;
            margin-left: 21px;

        }

        .book_title {
            position: relative;
            text-align: left;
            border-top: 1px solid black;
            margin-top: 30px;
            padding-top: 10px;
        }

        .book_title>h5 {
            display: inline;

        }

        .book_title>button {
            position: absolute;
            background-color: white;
            right: 0;
            border: 1px solid black;
        }

        .book_title>button img {
            height: 11px;
        }

        .book_title>button a {
            text-decoration: none;
            color: black;
        }

        .book_main_header {
            display: inline-block;
            height: 60px;
            width: 100%;
            background-color: #F2F4F5;
            margin-top: 15px;
            border: 1px solid #D1D1D1;
            margin-bottom: -4px;
        }

        .count {
            margin-left: 10px;
            line-height: 3.7;
            float: left;
            display: flex;
        }

        .count>.number {
            display: inline-block;
            z-index: 1;
        }

        .count>.number>.now {
            width: 42px;
            border: 1px solid #CCCCCC;
            height: 32px;
            font-size: 1.2em;
            background-color: white;
        }

        .count>.plus>.plus_button {
            margin-left: -3px;
            width: 32px;
            height: 32px;
            border: 1px solid #CCCCCC;
            font-size: 1.2em;
            border-radius: 0 5px 5px 0;
            background-color: white;
        }

        .count>.minus>.minus_button {
            margin-right: -3px;
            width: 32px;
            height: 32px;
            border: 1px solid #CCCCCC;
            font-size: 1.2em;
            border-radius: 5px 0 0 5px;
            background-color: white;
        }

        .cell>p {
            margin-top: 18.5px;
            margin-left: 20px;
            float: left;
            display: inline-block;
            width: 34px;
            font-size: 16px;
        }
        .cell1 >p {
            margin-top: 18.5px;
            margin-left: 40px;
            float: left;
            display: inline-block;
            width: 50px;
            font-size: 16px;
        }

 
        .cell2 >p {
            margin-top: 18.5px;
            margin-left: 40px;
            float: left;
            display: inline-block;
            width: 34px;
            font-size: 16px;
        }
        .seat_choice{
            display: inline-block;
            width: 100%;
            height: 510px;
            border: 1px solid #D1D1D1;
        }
        .screen_img{
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .seat{
            margin-left: -7px;
            border: 1px solid #02BFD3;
            background-color: #7F7F7F;
            color: white;
            width: 23px;
            height: 23px;
        }
        .btn-seat-row{
            margin-right: 40px;
            border: 1px solid #BEBEBE;
            background-color: white;
            width: 23px;
            height: 23px;
        }
        .seat4{
            margin-right: 30px;
        }
        .row{
            margin-right: 80px;
        }
        .top_exit{
            margin-left: 205px;
            color: #CECECE;
        }
        .bottom_exit{
            transform:rotate(270deg);
            margin-right: 157px;
            width: 18px;
            margin-top:3px;
        }
   