
        body {
            margin: 0;
        }

        .header {
            text-align: center;
        }

        .before {
            text-align: right;
            margin-left: 162px;
            margin-right: 162px;
            padding-top: 10px;
        }

        .before>a {
            font-size: 0.9rem;
            color: black;
            padding: 10px;
            text-decoration: none;

        }

        .name>.h1 {
            color: black;
            text-decoration: none;
            font-size: 50px;
            display: inline-block;
            width: 500px;
            font-weight: bold;
        }


        .navbar {
            display: inline-block;
            width: 500px;
        }

        .navbar li {
            width: 100px;

        }

        .navbar>ul {
            list-style: none;
            display: flex;
        }

        .navbar a {
            color: black;
            text-decoration: none;
            font-size: 25px;
        }


        .movie_title {
            color: white;
            font-size: 40px;

        }

        .movieSelection_txt {
            font-size: 20px;
            color: white;

        }

        .poster1 {
            display: inline-block;
            background-color: #EBEBEB;
            width: 245px;
            height: 352px;
        }

        .bookbutton1 {
            display: inline-block;
            width: 152px;
            height: 38px;
            background-color: #6ECDF9;
            border-radius: 4px;
            font-size: 12px;
            border: none;
        }

        .like_icon {
            width: 12.7px;
            height: 12.7px;
        }

        .like1 {
            display: inline-block;
            width: 90px;
            height: 38px;
            border: 1px solid #EBEBEB;
            background-color: white;
            border-radius: 4px;
            font-size: 17px;
        }

        .poster_wrap {
            margin-top: 25px;
            display: flex;
            justify-content: center;
        }

        .poster_button_wrap1 {
            width: 300px;
        }

        .footer_wrap {
            border-top: 1px solid black;
            margin-top: -100px;
            padding: 50px;

        }

        footer {
            height: 80px;
            position: relative;
            transform: translateY(-100%);
            width: 100%;
            margin-top: 300px;
        }

        .movievideo {
            margin-top: 1px;
            display: inline-block;
            background: url(/main_page_movie_image/main_image.png);
            width: 980px;
            height: 500px;
            background-repeat: no-repeat;

        }

        .videobackground {
            height: 500px;
            background-color: black;

        }

        .text {
            margin-top: 200px;
            margin-left: 20px;
            text-align: left;
        }

        .movieSelection_txt {
            font-weight: bold;
            text-shadow: 2px 2px 4px rgb(0 0 0 / 72%);
        }

        .movie_title {
            display: block;
            margin-bottom: 10px;
            text-shadow: 2px 2px 4px rgb(0 0 0 / 72%);
        }

        .lookButton {
            position: absolute;
            top: 495px;
            background-color: white;
            width: 100px;
            border-radius: 30px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            color: black;
            padding: 6px 0 6px 12px;
            border: 1px solid black;
        }

        .arrows {
            width: 13x;
            height: 13px;
        }



        .poster_button {
            position: absolute;
            border-radius: 30px;
            padding: 6px 0 6px 12px;
            width: 100px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            color: black;
            border: 1px solid #BEBEBE;

        }

        .poster_button_wrap {
            display: inline-block;
            margin-right: 62px;
            text-align: right;
            margin-top: 50px;
        }

        .poster_title {
            font-size: 20px;
            margin-top: 4px;
            margin-left: 70px;
            font-weight: bold;
        }

        .poster_title_wrap {
            display: inline-block;
            width: 980px;
            text-align: center;
            margin-bottom: -100px;
        }
